/*
   전역 컬러 팔레트 (Global Color Palette)
   모든 Day 폴더에서 공통으로 사용할 색상 정의
   CSS 변수(Custom Properties)를 사용하여 색상을 관리합니다.
*/

:root {

    /* VEX 색상 팔레트 */
    --light-blue:      #1988FF;     /* VEX 블루 */
    --dark-blue:       #1e3a8a;     /* VEX 다크 블루 */
    --light-green:     #67e8c3;     /* VEX 그린 */
    --light-sky:       #A4F0FA;     /* VEX 스카이 */
    --dark-red:        #881122;     /* VEX 다크 레드 */
    --light-gray:      #808080;     /* VEX 그레이 */
    --black:           #000000;     /* VEX 블랙 */
    --white:           #FFFFFF;     /* VEX 화이트 */


    /* 배경 색상 */
    --bg-gray:         #00000036;   /* 배경 회색 */

    /* 버튼 색상 */
    --btn-blue:        #1e3a8a;     /* 버튼 파란색 */
    --btn-green:       #67e8c3;     /* 버튼 그린색 */
    --btn-sky:         #A4F0FA;     /* 버튼 스카이색 */
    --btn-red:         #881122;     /* 버튼 레드색 */
    --btn-org:         #FF4500;     /* 버튼 오렌지색 */
    --btn-purple:      #C699FF;     /* 버튼 퍼플색 */
    --btn-brown:       #FF9900;     /* 버튼 브라운색 */
    --btn-gray:        #808080;     /* 버튼 그레이색 */
    --btn-black:       #000000;     /* 버튼 블랙색 */
    --btn-white:       #FFFFFF;     /* 버튼 화이트색 */

}
